* {
  font-family: $body-font-family;
}

body.body--light {
  background-color: #fafafa;
}

body.body--dark {
  background-color: #292929;
}

.q-separator {
  margin: 15px 0;
  color: rgb(0, 0, 0, 0.2);
}

#main-content {
  padding: 15px;
}

// .q-card {
//   border-radius: $border-radius;
// }

.option-group {
  border: 1px solid rgb(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 5px 0.5px 10px;
  margin-bottom: 5px;
}

.option-group .label {
  font-size: 12px;
  margin-left: 2.5px;
  color: $label-color;
}

.option-group--dense {
  border: 1px solid rgb(0, 0, 0, 0.25);
  // border-radius: $border-radius;
  font-size: 10px;
  padding: 5px 5px 2px 10px;
  margin-bottom: 5px;
}

.option-group--dense .label {
  font-size: 10px;
}

.option-group:hover,
.option-group--dense:hover {
  border: 1px solid #000;
}

.q-select {
  margin-bottom: 5px;
}

// .q-btn {
//   border-radius: $border-radius;
// }
